.App {
  text-align: center;
  color: #e0e1dd;
}

.title {
  margin: 1.5em auto;
}

.exercises-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.exercise-box{
  border: 2px solid #778da9;
  border-radius: 10px;
  width: 25em;
  padding-top: .8em;
  padding-bottom: .8em;
  padding-inline-start: 1em;
  margin-bottom: 1.5em;
  text-align: start;
  color: #778da9;
  font-size: 18px;
  font-weight: 600;
}

a {
  text-decoration: none;
}

.exercise-box:hover {
  background-color: #415a77;
  color: #e0e1dd;
  transition: .3s all ease;
}

