.jokes-list-container {
  margin: 2em auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
}

.joke-card {
  margin: 1em;
  border-radius: 10px;
  background-color: transparent;
  width: 13em;
  height: 13em;
  /*border: 1px solid #f1f1f1;*/
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.joke-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.joke-card:hover .joke-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-front, .flip-back {
  padding: .4em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}



/* Style the front side (fallback if image is missing) */
.flip-front {
  background-color: #1B263B;
  color: #778DA9;
  font-weight: 700;
}

/* Style the back side */
.flip-back {
  background-color: #415A77;
  color: #E0E1DD;
  font-weight: 600;
  transform: rotateY(180deg);
}